<p id="notice"><%= notice %></p>

<h1>Listing Jobs</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Civilian</th>
      <th>Job name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.civilian.first_name %> <%= job.civilian.last_name %></td>
        <td><%= job.job_name %></td>
        <td><%= link_to 'Show', job %></td>
	<% if can_access? %>
	        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        	<td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can_access? %>
	<%= link_to 'New Job', new_job_path %>
<%end%>
