<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @job.id %>
</p>

<p>
  <strong>Civilian:</strong>
  <%= @job.civilian.first_name %>
  <%= @job.civilian.last_name %>
</p>

<p>
  <strong>Job name:</strong>
  <%= @job.job_name %>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_job_path(@job) %> |
<%end%>
<%= link_to 'Back', jobs_path %>
