<%= form_for(@civilian) do |f| %>
  <% if @civilian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@civilian.errors.count, "error") %> prohibited this civilian from being saved:</h2>

      <ul>
      <% @civilian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--edit">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, :required => true %>
  </div>
  <div class="field field--edit">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, :required => true %>
  </div>
  <div class="field field--edit">
    <%= f.label :address %><br>
    <%= f.text_field :address, :required => true %>
  </div>
  <div class="field field--edit">
    <%= f.label :city %><br>
    <%= f.text_field :city, :required => true %>
  </div>
  <div class="actions actions--edit">
    <%= f.submit %>
  </div>
<% end %>
