<p id="notice"><%= notice %></p>
<br>
<h1>Civilians</h1>

<table>
  <thead>
    <tr>
      <th class="id">ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Address</th>
      <th>City</th>
      <th class="noborder" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @civilians.each do |civilian| %>
      <tr>
        <td class="id"><%= civilian.id %></td>
        <td><%= civilian.first_name %></td>
        <td><%= civilian.last_name %></td>
        <td><%= civilian.address %></td>
        <td><%= civilian.city %></td>
	<td class="bttn"><%= link_to 'Show', civilian, :onclick => 'alert(<%= @civilian.first_name %\>)' %></td>

	<% if can_access? %>
        	<td class="bttn"><%= link_to 'Edit', edit_civilian_path(civilian) %></td>
        	<td class="bttn"><%= link_to 'Destroy', civilian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
	</tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can_access? %>
	<div class="bttn bttn--new">
		<%= link_to 'New Civilian', new_civilian_path %>
	</div>
<%end%>
