<div class="show--civilians">
<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @civilian.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @civilian.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @civilian.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @civilian.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @civilian.city %>
</p>

<% if can_access? %>
	<%= link_to 'Edit', edit_civilian_path(@civilian) %> |
<%end%>
<%= link_to 'Back', civilians_path %>
</div>
