<p id="notice"><%= notice %></p>
<br>
<h1>Interests</h1>

<table>
  <thead>
    <tr>
      <th class="id">ID</th>
      <th>Name</th>
      <th class="noborder" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td class="id"><%= interest.id %></td>
        <td><%= interest.name %></td>
        <td class="bttn"><%= link_to 'Show', interest %></td>
	<% if can_access? %>
        	<td class="bttn"><%= link_to 'Edit', edit_interest_path(interest) %></td>
        	<td class="bttn"><%= link_to 'Destroy', interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can_access? %>
	<div class="bttn bttn--new">
		<%= link_to 'New Interest', new_interest_path %>
	</div>
<%end%>
