<div class="show--interests">
<p id="notice"><%= notice %></p>

<p>     
  <strong>ID:</strong>
  <%= @interest.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interest.name %>
</p>

<% if can_access? %>
	<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%end%>
<%= link_to 'Back', interests_path %>
</div>
