<p id="notice"><%= notice %></p>
<br>
<h1>Civilian-Interests Relations</h1>

<table>
  <thead>
    <tr>
      <th>Civilian</th>
      <th>Interest</th>
      <th class="noborder" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @civilian_interests.each do |civilian_interest| %>
      <tr>
        <td><%= civilian_interest.civilian.first_name %> <%= civilian_interest.civilian.last_name %></td>
        <td><%= civilian_interest.interest.name %></td>
        <td class="bttn"><%= link_to 'Show', civilian_interest %></td>
	<% if can_access? %>
        	<td class="bttn"><%= link_to 'Edit', edit_civilian_interest_path(civilian_interest) %></td>
        	<td class="bttn"><%= link_to 'Destroy', civilian_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can_access? %>
	<div class="bttn bttn--new">
		<%= link_to 'New Civilian-Interest', new_civilian_interest_path %>
	</div>
<%end%>
