<p id="notice"><%= notice %></p>

<h1>Listing Civilian Interests</h1>

<table>
  <thead>
    <tr>
      <th>Civilian</th>
      <th>Interest</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @civilian_interests.each do |civilian_interest| %>
      <tr>
        <td><%= civilian_interest.civilian %></td>
        <td><%= civilian_interest.interest %></td>
        <td><%= link_to 'Show', civilian_interest %></td>
        <td><%= link_to 'Edit', edit_civilian_interest_path(civilian_interest) %></td>
        <td><%= link_to 'Destroy', civilian_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Civilian interest', new_civilian_interest_path %>
