<p id="notice"><%= notice %></p>

<p>
  <strong>Civilian:</strong>
  <%= @civilian_interest.civilian.first_name %>
  <%= @civilian_interest.civilian.last_name %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @civilian_interest.interest.name%>
</p>

<% if current_user.role == "admin" %>
	<%= link_to 'Edit', edit_civilian_interest_path(@civilian_interest) %> |
<%end%>
<%= link_to 'Back', civilian_interests_path %>
