<%= form_for(@shoe) do |f| %>
  <% if @shoe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoe.errors.count, "error") %> prohibited this shoe from being saved:</h2>

      <ul>
      <% @shoe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field field--edit">
    <%= f.label :civilian_id %><br>
    <%= f.text_field :civilian_id, :required => true %>
  </div>
  <div class="field field--edit">
    <%= f.label :size %><br>
    <%= f.number_field :size, :required => true %>
  </div>
  <div class="field field--edit">
    <%= f.label :brand %><br>
    <%= f.text_field :brand, :required => true %>
  </div>
  <div class="actions actions--edit">
    <%= f.submit %>
  </div>
<% end %>
