<p id="notice"><%= notice %></p>
<br>
<h1>Shoes</h1>

<table>
  <thead>
    <tr>
      <th class="id">ID</th>
      <th>Civilian</th>
      <th>Size</th>
      <th>Brand</th>
      <th class="noborder" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td class="id"><%= shoe.id %></td>
        <td><%= shoe.civilian.first_name %> <%= shoe.civilian.last_name %></td>
        <td><%= shoe.size %></td>
        <td><%= shoe.brand %></td>
        <td class="bttn"><%= link_to 'Show', shoe %></td>
	<% if can_access? %>
        	<td class="bttn"><%= link_to 'Edit', edit_shoe_path(shoe) %></td>
        	<td class="bttn"><%= link_to 'Destroy', shoe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can_access? %>
	<div class="bttn bttn--new">
		<%= link_to 'New Shoe', new_shoe_path %>
	</div>
<%end%>
