<% unless (request.path == sign_in_path) or (request.path == "/users/new") %>
<div class="wrapper-header">
  <header>
    <div>
      <nav>
        <% if logged_in? %>
          <div class="aba"><%= link_to 'Civilians', civilians_path %></div>
          <div class="aba"><%= link_to 'Jobs', jobs_path %></div>
          <div class="aba"><%= link_to 'Interests', interests_path %></div>
          <div class="aba"><%= link_to 'Shoes', shoes_path %></div>
          <div class="aba"><%= link_to 'Civilians-Interests', civilian_interests_path %></div>
          <div class="aba"><%= link_to "Log out", sign_out_path, method: "delete" %></div>
        <% else %>
	    <% controller.redirect_to sign_in_path %>
	<% end %>
      </nav>
    </div>
  </header>
</div>
<% end %>
