<!DOCTYPE html>
<html>
<head>
  <title>Trab5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<% unless request.path == sign_in_path %>
<div class="wrapper">
	<div class="content">
<% end %>
<% unless request.path != sign_in_path %>
<div class="wrapper--sign">
	<div class="content--sign">
<% end %>
		<%= yield %>
	</div>
</div>

</body>
</html>
